@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Arka plan kesin siyah olsun */
  overscroll-behavior-y: none; /* İşte o yaylanmayı kapatan kod bu */
  height: 100%;
}